<!DOCTYPE html>
<html lang="en" class="sr">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/main.css">

    <!-- ICONS & FAVICONS -->
    <!-- Generic -->
    <link rel="icon" href="../assets/icons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="../assets/icons/favicon-57.png" sizes="57x57">
    <link rel="icon" href="../assets/icons/favicon-76.png" sizes="76x76">
    <link rel="icon" href="../assets/icons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="../assets/icons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="../assets/icons/favicon-192.png" sizes="192x192">
    <link rel="icon" href="../assets/icons/favicon-228.png" sizes="228x228">
    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="../assets/icons/favicon-196.png">
    <!-- iOS -->
    <link rel="apple-touch-icon" href="../assets/icons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../assets/icons/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../assets/icons/favicon-180.png" sizes="180x180">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/9aef0c2001.js" crossorigin="anonymous"></script>
    <!-- pts.js (animation) -->
    <script type="text/javascript" src="../js/pts.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157510538-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-157510538-1');
    </script>


    <!-- Smooth scroll -->
    <script>
        $(document).ready(function() {
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
                    // Store hash
                    var hash = this.hash;
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function() {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>

    <title>Projects | Jack Towery</title>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item logo-rollover" href="/">
                    <svg version="1.1" id="corner-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400"
                        style="enable-background:new 0 0 400 400;" xml:space="preserve" height="70px" width="70px" fill="#282c34" class="">
                        <path d="M253.6,0l-200,53.6L0,253.6L146.4,400l200-53.6l53.6-200L253.6,0z M330.4,330.4l-178.2,47.7L21.8,247.7L69.6,69.6
l178.2-47.7l130.4,130.4L330.4,330.4z M302.1,182.4c-6.4-4-16.5-5.9-30.5-5.9l-10.8,0.2c-2,0-3-0.5-3-1.5c0.1-1.1,0.6-2.8,1.3-5.1
l5.3-7.4c1.1-1.8,1.7-3.1,1.7-3.8c0-2.1-2.5-3.2-7.6-3.2c-5.1,0-8.1,0.8-8.9,2.5L235,177.7c-9.9,0.8-19.3,1.6-28.1,2.6
c0.8-1.1,1.6-2.2,2.4-3.3c9.3-13,16.1-22.5,20.6-28.5c4.4-6,6.7-9.3,6.7-9.9c0-1.1-0.9-1.8-2.8-1.9l-9.1-0.4c-3,0-4.9,1.1-5.9,3.2
l-33,43.5c-0.2,0-0.4,0.1-0.6,0.1c-14.6,2.1-22.4,3.3-23.4,3.4c-1,0.1-1.7,0.2-2.1,0.3c-0.4,0.1-0.9,0.1-1.5,0.2
c-0.6,0.1-0.8,0.4-0.8,1c0,1.7,2.2,3,6.6,3.8c0.3,2.6,4.1,4.4,11.2,5.4l-15.6,20.6c-0.4,0.4-0.7,0.6-1,0.6s-0.4-0.1-0.5-0.4
c0-0.3-0.3-0.4-0.8-0.4c-6.8,0-15.4,3.9-25.7,11.7c-10.4,7.8-19.3,16.3-26.8,25.5c-7.5,9.3-11.2,15.9-11.2,19.9c0,4,1.6,7.1,4.8,9.2
c3.2,2.1,5.7,3.2,7.5,3.2c9.9,0,19.7-4.5,29.5-13.6c5.2-4.9,10.3-10.2,15.2-15.8c4.9-5.6,10.7-13,17.4-22.1c6.7-9.2,13-18,19-26.4
c2.3-3.3,5-7,7.8-11l11.9-0.4c3,0,4.4,0.4,4.4,1.3c0,0.8-0.6,1.8-1.9,2.8c-13.6,12-24.3,23.7-32.1,35.2
c-7.8,11.4-11.8,20.2-11.8,26.3c0,6.1,1.4,10.9,4.3,14.4c2.9,3.5,6.1,5.3,9.5,5.3c3.5,0,6.5-0.4,9-1.1c7.1-2.3,19.5-10.6,37.3-25
c6.6-5.2,13.7-11.2,21.2-17.8c7.5-6.6,12.6-11.2,15.4-13.8c2.8-2.5,4.8-4.5,6.3-5.8c1.4-1.3,2.1-2.7,2.1-4.1c0-1.4-0.6-2.6-1.9-3.6
c-25.3,18.8-51.4,36.1-78.2,51.9c-2.3,0.8-3.9,1.3-5,1.3c-1.1,0-1.9-0.2-2.6-0.7c-0.7-0.5-1.1-1.1-1.1-1.8c0-4.4,4.4-12.1,13.1-23.1
c8.8-11,18-21.1,27.7-30.3c9.7-9.2,15.9-13.8,18.5-14c6.1-0.3,17.3-1.3,33.6-3.1c16.3-1.8,25.9-2.9,28.6-3.3
c2.8-0.4,4.1-1.2,4.1-2.3C306.8,184.7,305.2,183.4,302.1,182.4z M134.5,248.7c-14.4,17-23.5,25.5-27.1,25.5c-0.4,0-0.6-0.2-0.6-0.6
c0-4.4,7.4-14.3,22.1-29.8c14.8-15.5,23.7-23.2,26.8-23.2c0.3,0,0.4,0.1,0.4,0.4C156.1,222.5,148.9,231.7,134.5,248.7z M232.9,117.4
c0-4.2,2.5-8.4,7.6-12.4c5.1-4,9.3-6,12.5-6c1.4,0,2.3,0.3,2.8,0.8c2,2.4,3,4.3,3,5.8c0,1.5-0.4,2.8-1.3,3.8
c-0.8,1.1-1.9,2.3-3.1,3.6c-1.2,1.3-3.6,3.2-7.2,5.5c-3.6,2.3-7.1,3.5-10.5,3.5C234.1,121.7,232.9,120.1,232.9,117.4z" />
                    </svg>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/" class="button is-primary is-outlined">About</a>
                            <a href="/projects" class="button is-primary">Projects</a>
                            <a href="/photography" class="button is-primary is-outlined">Photography</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <section id="header2" class="">
        <h1 class="title is-family-secondary has-text-centered no-margins is-size-3-desktop is-size-4-mobile is-bold-700">My Projects</h1>

        <div class="tabs is-centered">
            <ul>
                <li id="tab-all" class="is-active is-bold-600">
                    <a onclick="filterAll()">All Projects</a>
                </li>
                <li id="tab-code" class="is-bold-600">
                    <a onclick="filterCode()">Web/Mobile Design</a>
                </li>
                <li id="tab-design" class="is-bold-600">
                    <a onclick="filterDesign()">Graphic Design</a>
                </li>
            </ul>
        </div>
    </section>

    <section id="projects2" class="section is-medium is-white has-text-centered">
        <div class="content has-text-centered">
            <div class="container has-text-centered">
                <div class="project-grid">
                    <div class="columns is-multiline is-centered" id="projects2-columns">
                        <div v-for="project in filteredProjects" :id="project.id" class="project column is-one-third">
                            <a onclick="launchModal(this)">
                                <figure class="image is-4by3">
                                    <img :src="project.imageTile">
                                    <div class="overlay">
                                        <div class="content">
                                            <p class="project-title is-family-secondary is-size-3-desktop is-size-4-mobile">{{ project.title }}</p>
                                            <p class="project-subtitle is-size-5-desktop is-size-6-mobile">{{ project.subtitleShort }}</p>
                                            <p class="project-date is-size-6-desktop is-size-7-mobile">{{ project.date }}</p>
                                            <!--Icons-->
                                        </div>
                                    </div>
                                </figure>
                            </a>

                            <div class="modal">
                                <div class="modal-background" onclick="closeModal(this)"></div>
                                <div class="modal-content">
                                    <div class="box project-modal">
                                        <div class="columns">
                                            <div class="column">
                                                <!--Convert below to image slideshow. Arrows to navigate, not automatic transition-->
                                                <img class="is-pulled-left" :src="project.imageModal">

                                                <!--<div class="is-pulled-left modal-slide-container">
                                                        <div class="modal-slide fade">
                                                            <img :src="project.imageModal">
                                                        </div>
                                                        <div class="modal-slide fade">
                                                            <img :src="project.imageTile">
                                                        </div>

                                                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                                    </div>-->
                                            </div>
                                            <div class="column">
                                                <p class="modal-project-title is-family-secondary is-size-3-desktop is-size-2-mobile">{{ project.title }}</p>
                                                <p class="modal-project-subtitle is-size-5-desktop is-size-6-mobile">{{ project.subtitleLong }}</p>

                                                <div class="modal-project-section modal-project-desc has-text-left has-text-grey-lighter">
                                                    <p>{{ project.description }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-project-section has-text-left clear-all" v-if="project.team == 'true'">
                                            <p class="modal-project-tags">
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light">My Role:</span>
                                                <span v-for="role in project.roles" class="tag is-primary is-rounded has-text-weight-bold">{{ role }}</span>
                                            </p>
                                        </div>

                                        <div class="modal-project-section has-text-left clear-all">
                                            <p class="modal-project-tags">
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light" v-if="project.category == 'code'">Platforms:</span>
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light" v-if="project.category == 'design'">Creative Fields:</span>
                                                <span v-for="platform in project.platforms" class="tag is-primary is-light is-rounded" v-html="platform"></span>
                                            </p>
                                        </div>

                                        <div class="modal-project-section has-text-left clear-all">
                                            <p class="modal-project-tags">
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light">Tools Used:</span>
                                                <span v-for="tool in project.tools" class="tag is-light is-rounded">{{ tool }}</span>
                                            </p>
                                        </div>

                                        <div class="modal-project-section clear-all">
                                            <p>
                                                <a :href="project.url" target="_blank" class="button is-primary">View Full Project</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <button class="modal-close is-large" aria-label="close" onclick="closeModal(this)"></button>
                            </div>
                        </div>

                        <!--<div id="testC" class="column is-one-third">
                            <a onclick='launchModal("testC")'>
                                <figure class="image is-4by3">
                                    <img class="" src="../assets/project_covers/VENT_mockup2_awards.png" alt="VENT: Find Events Near You">
                                    <div class="overlay">
                                        <div class="content">
                                            <p class="project-title is-family-secondary is-size-3-desktop is-size-4-mobile">
                                                VENT</p>
                                            <p class="project-subtitle is-size-5-desktop is-size-6-mobile">Find Events Near You</p>
                                            <p class="project-icons">
                                                <i class="fas fa-globe-americas"></i>
                                                <i class="fas fa-mobile-alt"></i>
                                                <i class="fas fa-desktop"></i>
                                            </p>
                                        </div>
                                    </div>
                                </figure>
                            </a>
                            <div class="modal">
                                <div class="modal-background" onclick="closeModal('testC')"></div>
                                <div class="modal-content">
                                    <div class="box project-modal">
                                        <img class="is-pulled-left" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/40140d87459281.5db8d460c0eff.png"
                                            alt="VENT: Find Events Near You">
                                        <p class="modal-project-title is-family-secondary is-size-3-desktop is-size-4-mobile">VENT</p>
                                        <p class="modal-project-subtitle is-size-5-desktop is-size-6-mobile">Search for concerts, sorting events, and more near you using your GPS
                                            location!</p>

                                        <div class="modal-project-section modal-project-desc has-text-left has-text-grey-lighter">
                                            <p>
                                                When creating VENT, I was inspired by the functionality of the online dating app Tinder, and specifically the way that you are
                                                presented with choices, swiping right for "interested" and left for "not interested". This type of interaction is intuitive and easy
                                                to understand for users, especially those on mobile devices. So, instead of a vertical list with infinite-scrolling that you may
                                                find on other ticket finding applications, I decided to redesign event searching with a new and more user-friendly method of
                                                interaction.
                                            </p>
                                        </div>

                                        <div class="modal-project-section has-text-left clear-all">
                                            <p class="modal-project-tags">
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light">Platforms:</span>
                                                <span class="tag is-primary is-light is-rounded"><i class="fas fa-globe-americas"></i> &nbsp; Web App</span>
                                                <span class="tag is-primary is-light is-rounded"><i class="fas fa-desktop"></i>&nbsp; / &nbsp;<i class="fas fa-mobile-alt"></i>
                                                    &nbsp;
                                                    Responsive</span>
                                            </p>
                                        </div>

                                        <div class="modal-project-section has-text-left clear-all">
                                            <p class="modal-project-tags">
                                                <span class="is-bold-700 is-family-secondary has-text-grey-light">Tools Used:</span>
                                                <span class="tag is-light is-rounded">HTML5</span>
                                                <span class="tag is-light is-rounded">SASS</span>
                                                <span class="tag is-light is-rounded">JavaScript</span>
                                                <span class="tag is-light is-rounded">Node.js</span>
                                                <span class="tag is-light is-rounded">Bulma</span>
                                                <span class="tag is-light is-rounded">anime.js</span>
                                                <span class="tag is-light is-rounded">Adobe Illustrator</span>
                                            </p>
                                        </div>

                                        <div class="modal-project-section clear-all">
                                            <p>
                                                <a href="https://vent.jacktowery.com" target="_blank" class="button is-primary">View Project</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <button class="modal-close is-large" aria-label="close" onclick="closeModal('testC')"></button>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <section class="section has-background-dark has-text-centered">
            <div class="container">
                <a href="/" class="">
                    <img src="../assets/logos/hex_white.svg" class="" alt="Jack Towery | Developer, Designer, Researcher" style="height: 80px;">
                </a>
                <!--<h1 class="title is-family-secondary is-spaced is-size-4-desktop is-size-5-mobile is-bold-700 has-text-grey-light">
                    Get In Touch</h1>-->
                <div class="social-buttons">
                    <a class="button is-primary is-outlined is-inverted is-large" href="https://www.behance.net/jacktowery" target="_blank">
                        <span class="icon is-medium"><i class="fab fa-behance"></i></span>
                    </a>
                    <a class="button is-primary is-outlined is-inverted is-large" href="https://www.linkedin.com/in/jacktowery" target="_blank">
                        <span class="icon is-medium"><i class="fab fa-linkedin-in"></i></span>
                    </a>
                    <a class="button is-primary is-outlined is-inverted is-large " href="https://github.com/jacktowery" target="_blank">
                        <span class="icon is-medium"><i class="fab fa-github"></i></span>
                    </a>
                    <a class="button is-primary is-outlined is-inverted is-large " href="mailto:hello@jacktowery.com" target="_blank">
                        <span class="icon is-medium"><i class="fas fa-envelope"></i></span>
                    </a>
                </div>
                <div class="copyright has-text-grey-light">Handcrafted by me &copy; 2019</div>
                <div class="bulma">
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </div>
            </div>
        </section>
    </footer>

    <script src="../js/navbar.js"></script>
    <script src="../js/projects.js"></script>

</body>