// FOOTER
footer .social-buttons {
    margin: 3em 0em;
}

footer .social-buttons a.button {
    border-radius: 100%;
    margin-left: .25em;
    margin-right: .25em;
    border-color: $primary !important;
}

footer .social-buttons a.button:hover {
    border-color: #fff !important;
}

.bulma img {
    opacity: 0.5;
}