@charset "utf-8";

// Brand Colors
$pink: #FC5B73;
$red: #E02C51;
$blue: #20a2ff;
$green: #46C48C;
$aqua: #01D1BB;
$aqua-o: #01B3A1;
$purple: #8065b6;
$purple2: #7141d1;
$purple3: #8c5fe7;
$one-light-gray: #91959B;
$one-light-blue: #7F848E;
$one-highlight-blue: #515A6B;
$one-med-blue: #282c34;
$one-dark-blue: #21252B;
$one-darkest-blue: #0e1216;

// Brand Fonts
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');
@import url("https://use.typekit.net/yuv5nvd.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700,700i&display=swap');

// ! Update Bulma's global variables

// ! COLORS
//  initial variables
$black: $one-dark-blue;
$grey-darker: $one-med-blue;
$grey-dark: $one-med-blue;
$grey: $one-highlight-blue;
$grey-lighter: $one-light-blue;
$grey-light: $one-light-gray;

$primary: $purple3;
$link: $primary;

// tabs and stuff
$border: #dfdfdf;
$tabs-link-color: $grey-light;
$tabs-border-bottom-color: #ffffff;

// ! FONTS
$family-sans-serif: 'Nunito',
sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: proxima-nova,
'Nunito',
sans-serif;
$family-code: 'Ubuntu Mono',
monospace;

// ! SPACING
$body-line-height: 1.8;

$box-radius: 20px;
$box-shadow: 0 6px 6px 0 #dfdfdf80,
0 0 0 1px #dfdfdf;
$navbar-height: 5rem;

$footer-padding: 0;

$progress-bar-background-color: #d5dde2;

//* ------------------------------------------------------
// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma-timeline/dist/css/bulma-timeline.sass'; // Bulma timeline extension
//* ------------------------------------------------------

// Overwrite some rules for customization
.my-text-white,
.my-text-white>*,
.my-text-white>*>* {
    color: #ffffff !important;
}

.section.is-primary {
    background-color: $primary;
    color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    strong,
    em {
        color: #fff;
    }
}

strong {
    font-weight: 700 !important;
}

a {
    transition: 0.3s;
}

// ! FONT SPACING & KERNING
.is-family-primary {
    letter-spacing: 0px;
}

.is-family-secondary {
    letter-spacing: 0px;
}

.subtitle {
    @media screen and (min-width: 1088px) {
        line-height: 1.8 !important;
    }

    line-height: 1.6 !important;
}

body {
    @media screen and (min-width: 1088px) {
        line-height: 1.8 !important;
    }

    line-height: 1.3 !important;
}

//* ------------------------------------------------------
//* ETC.
//* ------------------------------------------------------

// scroll reveal
html.sr .load-hidden {
    visibility: hidden;
}

//* ------------------------------------------------------
//* SPACING
//* ------------------------------------------------------

.has-padding-1 {
    margin: 50px 30px !important;
}

.has-extra-space-bottom {
    margin-bottom: 20px;
}

.no-margins {
    margin: 0 !important;
}

//* ------------------------------------------------------
//* TEXT
//* ------------------------------------------------------

.is-bold-500 {
    font-weight: 500 !important;
}

.is-bold-600 {
    font-weight: 600 !important;
}

.is-bold-700 {
    font-weight: 700 !important;
}

.has-extra-kerning {
    letter-spacing: 3pt;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-lowercase {
    text-transform: lowercase;
}

//* ------------------------------------------------------
//* HEADER
//* ------------------------------------------------------

#header {
    position: relative;
    height: calc(100vh + 10px);
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
}

#header .button {
    margin: 0 0.5em 0 0.5em;
}


//* ------------------------------------------------------
//* FOOTER
//* ------------------------------------------------------

footer .social-buttons {
    margin: 3em 0em;
}

footer .social-buttons a.button {
    border-radius: 100%;
    margin-left: .25em;
    margin-right: .25em;
    border-color: $primary !important;
}

footer .social-buttons a.button:hover {
    border-color: #fff !important;
}

footer .title {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.bulma img {
    opacity: 0.5;
}

//* ------------------------------------------------------
//* LOGOS
//* ------------------------------------------------------

.logo-rollover svg {
    transition: 0.2s;
}

.logo-rollover:hover svg {
    fill: $primary;
}

.has-shadows-1 {
    -webkit-filter: drop-shadow(2px 2px 4px #21252B);
    filter: drop-shadow(2px 2px 4px #21252B);
}

.logo-color-scroll {
    fill: linear-gradient(307deg, #e75f5f, #e79c5f, #e7de5f, #7ee75f, #5fcee7);

    -webkit-animation: AboutGradient 30s ease infinite;
    -moz-animation: AboutGradient 30s ease infinite;
    animation: AboutGradient 30s ease infinite;

    @-webkit-keyframes AboutGradient {
        0% {
            background-position: 0% 5%
        }

        50% {
            background-position: 100% 96%
        }

        100% {
            background-position: 0% 5%
        }
    }

    @-moz-keyframes AboutGradient {
        0% {
            background-position: 0% 5%
        }

        50% {
            background-position: 100% 96%
        }

        100% {
            background-position: 0% 5%
        }
    }

    @keyframes AboutGradient {
        0% {
            background-position: 0% 5%
        }

        50% {
            background-position: 100% 96%
        }

        100% {
            background-position: 0% 5%
        }
    }
}

//* ------------------------------------------------------
//* TIMELINE
//* ------------------------------------------------------

.timeline .timeline-item {
    padding-bottom: 0.5em;
}

.timeline-content .heading {
    margin-bottom: 0;
}

#about {
    transition: hue 60s infinite ease;
}

//* ------------------------------------------------------
//* SECTIONS
//* ------------------------------------------------------

// ! ABOUT
#about {
    @media screen and (min-width: 1088px) {
        padding: 4em 1.5em 8em 1.5em;
    }

    padding: 2em 1.5em 4em 1.5em;
}


// ! HERO
.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

// ! SKILLS
#skills {
    padding-top: 0;
}

#skills .container {
    @media screen and (min-width: 1088px) {
        margin-top: -4em;
    }

    margin-top: -3em;
}

progress {
    margin-bottom: 0.75em !important;
}

progress::-webkit-progress-value {
    transition: width 1s ease;
}

.progress-wrapper {
    position: relative;
    text-align: left !important;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: calc(1rem/1.5);
    line-height: 1rem;
    font-weight: bold;
    color: #ffffff;
}

progress.is-small+.progress-value {
    font-size: calc(0.75rem/1.5);
    line-height: 0.75rem;
}

progress.is-medium+.progress-value {
    font-size: calc(1.25rem/1.5);
    line-height: 1.25rem;
}

progress.is-large+.progress-value {
    font-size: calc(1.5rem/1.5);
    line-height: 1.5rem;
}

// ! BOX-COLUMN SECTIONS
.is-column-has-border {
    @media screen and (min-width: 1088px) {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-bottom: 0px solid #dfdfdf;
        border-top: 0px solid #dfdfdf;
    }

    border-right: 0px solid #dfdfdf;
    border-left: 0px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.box-no-padding {
    padding: 0 !important;
}

.columns {
    margin: 0 !important;
}

.box {
    overflow: hidden;
}

// ! PROJECTS PAGE
// Header
#header2 {
    margin: 0em 2em 1em 2em;
}

.tabs a {
    border-bottom-color: #ffffff;
}

// Main container
#projects2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

// Animations
.column {
    transition: ease-in-out 0.5s width;
}

// Grid
.project-grid figure {
    //border: 1px solid #7F848E;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.project-grid figure img {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}

.overlay {
    position: absolute;
    background-color: $one-med-blue;
    opacity: 0;
    transition: 0.4s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.overlay:hover {
    opacity: 1;
}

.project-grid figure {
    margin-left: 0em !important;
    margin-right: 0em !important;
}

.project-grid .overlay .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    height: 100%;
}

.project-grid .project-icons {
    line-height: 1 !important;
    margin: 1em 0 0 0 !important;
    color: $primary;
}

.project-grid .project-title {
    color: #ffffff;
    font-weight: 700;
    margin: 0 !important;
    line-height: 1 !important;
}

.project-grid .project-subtitle {
    color: $primary;
    font-weight: 600;
    margin: 0 !important;
    line-height: 1 !important;
}

.project-grid .project-date {
    color: $one-light-gray;
    margin: 0 !important;
    font-weight: 700;
    text-transform: uppercase;
}

// Modal
#projects2 .box {
    box-shadow: none !important;
    padding: 2em;
}

#projects2 .modal-content,
#projects2 .modal-card {
    @media screen and (min-width: 769px) {
        width: 900px;
    }
}

// Grid

#projects2 .box img {
    max-height: 300px;
    border-radius: 10px;
    margin: 0 1em 1em 0;
}

.project-modal .modal-slide-container {
    max-height: 360px;
    border-radius: 10px;
    margin: 0 1em 1em 0;
    position: relative;
}

.project-modal .modal-slide {
    display: none;
}

.project-modal .prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 14px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.project-modal .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.project-modal .next:hover,
.prev:hover {
    background-color: #000000aa;
}

.project-modal .modal-project-title {
    color: $one-med-blue;
    font-weight: 700;
    margin: 0 0 0.3em 0 !important;
    line-height: 1 !important;
}

.project-modal .modal-project-subtitle {
    color: $one-highlight-blue;
    font-weight: 600;
    margin: 0 !important;
    line-height: 1 !important;
}

.project-modal .modal-project-date {
    color: $one-light-gray;
    margin: 0 !important;
    font-weight: 700;
    text-transform: uppercase;
}

.project-modal .modal-project-desc p {
    line-height: 1.3;
}

.project-modal .modal-project-section p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.project-modal .modal-project-section p .button {
    margin-top: 0.5em;
}

.project-modal .modal-project-tags {
    line-height: 1.8;
}

.project-modal .modal-project-tags .tag {
    margin-right: 0.5em;
}

.clear-all {
    clear: both;
}

span.tag:hover {
    background-color: $primary !important;
    color: #ffffff !important;
}

// ! PHOTOS
#photography-columns figure {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-left: 0em !important;
    margin-right: 0em !important;
}

#photography-columns figure img {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}

.photo-overlay {
    position: absolute;
    background-color: #282c3499;
    opacity: 0;
    transition: 0.4s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.photo-overlay:hover {
    opacity: 1;
}

#photography-columns .photo-overlay .content {
    position: relative;
    height: 100%;
}

#photography-columns .photo-capture-date {
    position: absolute;
    padding: 0 0 0.2em 0.6em;
    bottom: 0;
}


// ! NAVBAR

.navbar-item img {
    max-height: 4rem !important;
}

//* ------------------------------------------------------
//* ANIMATION HELPERS
//* ------------------------------------------------------

.animate-loadTransparent {
    opacity: 0;
}

// Animation: 'typed' text. class = "animate-typedText"
.animate-typedText .letter {
    display: inline-block;
    line-height: 1em;
}

// Animation: spin arrow on hover
.arrow-spin-on-hover {
    div {
        transform: rotate(0deg);
        transition: transform 0.3s;
    }
}

.arrow-spin-on-hover:hover {
    div {
        transform: rotate(90deg);
    }
}

.arrow-right-on-hover {
    div {
        transform: translate(0, 0);
        transition: transform 0.3s;
    }
}

.arrow-right-on-hover:hover {
    div {
        transform: translate(5px, 0);
    }
}

// Animation: slides transition
.slides-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}