@charset "utf-8";

// Set your brand colors
/*
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
*/

// Update Bulma's global variables
/*
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
*/

// Update some of Bulma's component variables
/*
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
*/

// Brand Colors
$pink: #FC5B73;
$aqua: #019283;

// Brand Fonts
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700');
//@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700,700i&display=swap');
//$size-1: 4.5rem;
//$size-2: 3rem;

// Update Bulma's global variables
$primary: $aqua;
$link: $aqua;
$family-sans-serif: 'Nunito', sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: 'Noto Sans', 'Nunito', sans-serif;

$box-radius: 20px;
$box-shadow: none;


// ------------------------------------------------------
// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
// ------------------------------------------------------

// Overwrite some rules for customization
.my-text-white, .my-text-white > *, .my-text-white > * > * {
    color: #ffffff !important;
}

.section.is-primary {
    background-color: $primary;
    color: #fff;
    h1,h2,h3,h4,h5,h6,p,a,strong,em {
        color: #fff;
    }
}

strong {
    font-weight: 700 !important;
}

.long {
    margin-bottom: 0.5em;
}

.logo-rollover svg {
    transition: 0.3s;
}

.logo-rollover:hover svg {
    fill: $primary;
}

a {
    transition: 0.3s;
}

// SPACING & KERNING
.is-family-primary {
    letter-spacing: 0px;
}

.is-family-secondary {
    letter-spacing: -1px;
}

.subtitle {
    line-height: 1.5 !important;
}

// SECTIONS
#summary {
    margin-top: -150px;
}

