// SECTIONS

// Summary
#summary {
    padding-top: 0px;
    margin-top: -45px; // move upwards into previous section
}

// Skills
progress {
    margin-bottom: 0.75em !important;
}

progress::-webkit-progress-value {
    transition: width 0.8s ease;
}

.progress-wrapper {
    position: relative;
    text-align: left !important;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: calc(1rem/1.5);
    line-height: 1rem;
    font-weight: bold;
    color: #ffffff;
}

progress.is-small+.progress-value {
    font-size: calc(0.75rem/1.5);
    line-height: 0.75rem;
}

progress.is-medium+.progress-value {
    font-size: calc(1.25rem/1.5);
    line-height: 1.25rem;
}

progress.is-large+.progress-value {
    font-size: calc(1.5rem/1.5);
    line-height: 1.5rem;
}

// Box-Column Sections
.is-column-has-border {
    @media screen and (min-width: 1088px) {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-bottom: 0px solid #dfdfdf;
        border-top: 0px solid #dfdfdf;
    }

    border-right: 0px solid #dfdfdf;
    border-left: 0px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.box-no-padding {
    padding: 0 !important;
}

.columns {
    margin: 0 !important;
}