// TEXT

.is-bold-500 {
    font-weight: 500 !important;
}

.is-bold-600 {
    font-weight: 600 !important;
}

.is-bold-700 {
    font-weight: 700 !important;
}

.has-extra-kerning {
    letter-spacing: 3pt;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-lowercase {
    text-transform: lowercase;
}